{% extends 'main/base.html' %}

{% block title %}Contact Us{% endblock %}
{% block content %}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
            <h2 class="text-center mb-4">Contact Us</h2>
            <form action="{% url 'main:contact_view' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}


                <div class="mb-3">
                    <label for="name" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="first_name" placeholder="Enter your first name" name="first_name" required>
                </div>                
                <div class="mb-3">
                    <label for="name" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="last_name" placeholder="Enter your last name" name="last_name" required>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter your email" name="email" required>
                </div>
                <div class="mb-2">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control" id="message" rows="5" placeholder="Type your message here..." name="massege" required></textarea>
                </div>

                <button type="submit" class="btn btn-dark w-100">Submit</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}