{% extends 'main/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block style %}
<style>
    .main {
        background-image: url("{% static 'images/Planteer_main.jpg' %}");
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
    }
</style>
{% endblock %}

{% block content %}
<div class="main">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
        <div class="col-md-6 p-lg-5 mx-auto my-5">
            <h1 class="display-3 fw-bold">Planteer</h1>
            <h3 class="fw-normal text-muted mb-3">Plant Database For Plant Lovers</h3>
            <div class="d-flex gap-3 justify-content-center lead fw-normal">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </form> 
            </div>
        </div>
    </div>
</div>
{% endblock %}
